<%- include('../../partials/header.ejs') %>

<body>
    <%- include('../../partials/navbar.ejs') %>
    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Category edit</h2>
            </div>
            <div class="card-body">
                <form method="post" action="/categories/save">
                    <input class="form-control" type="text" name="title" placeholder="Set the category title..." value="<%= category.title %>"><br>
                    <button class="btn btn-dark">Update</button>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('../../partials/footer.ejs') %>